@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 5px 20px;
}

.s1all {
    display: flex;
    justify-content: space-around;
}

.s1text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s1text p {
    padding: 10px 0;
    font-size: small;
}

.s1text a {
    background-color: #E22E6D;
    width: fit-content;
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 15px;
    color: white;
    font-size: small;
}

.s1img img{
    width: 440px;
}